<h1>My Robots</h1>

<% @tasks.each do |task| %>
  <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a><h3>
    <p><%= robot.city %></p>
    <a href="robots/<%= robot.id %>/edit">Edit</a>
    <form action="/robots/<%= robot.id %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="delete"/>
    </form>
<% end %>
  