<h4><a href="/">Return to Home</a></h4>

<h1>My Robots</h1>

<a href="/robots/new">New Robot</a>

<% @robots.each do |robot| %>
  <h3><a href="/robots/<%= robot.name %>"><%= robot.name %></a></h3>
  <p><%= robot.city %>, <%= robot.state %></p>
  <p><%= robot.department %></p>
  <a href="/robots/<%= robot.name  %>/edit">Edit</a>
  <form action="/robots/<%= robot.name %>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="delete"/>
  </form>
<% end %>
