<div class="container text-center">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <img class="" src="http://www.robohash.org/<%= @robot.name %>">
      <h1><%= @robot.name %></h1>
      <p><%= @robot.city %>,
        <%= @robot.state %></p>
      <p><%= @robot.department %></p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
